@use 'shared/styles/consts';
@use 'shared/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  position: relative;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &_left {
    left: 35px;
  }

  &_right {
    right: 35px;
    rotate: 180deg y;
  }
}

.pictureContainer {
  border-radius: 10px;
  border: 1px solid consts.$base-grey-1;
  background: white;
}

.picture {
  border-radius: 10px 10px 0 0;
}

.caption {
  display: flex;

  &__text {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    padding: 25px 35px;
    width: 807px;
    border-right: 1px solid consts.$base-grey-1;
    @include mixins.primary-text(14px, 400, 20px, consts.$base-grey-3);
  }

  &__userInfo {
    padding: 12px 35px 13px 30px;
    display: flex;
    gap: 10px;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__userText {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &_primary {
      @include mixins.primary-text(14px, 400, 20px, consts.$base-grey-3);
    }

    &_secondary {
      @include mixins.primary-text(12px, 400, 15px, consts.$base-grey-2);
    }

  }

}