@use 'shared/styles/mixins';
@use 'shared/styles/consts';

.subscribeContainer {
  display: flex;
  padding: 60px 0 70px 0;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  height: 245px;

  & h2 {
    @include mixins.primary-text(40px, 700, 50px, consts.$dark-text-color, "Roboto Slab");
  }

  & form {
    display: flex;
    gap: 10px;

    & input {
      display: flex;
      width: 313px;
      border-radius: 5px;
      border: 1px solid consts.$base-grey-1;
      background: white;
      padding: 8px 0 8px 14px;
      height: 40px;
      @include mixins.primary-text(14px, 400, 20px, consts.$dark-text-color, "Lato");

      &::placeholder {
        color: consts.$base-grey-2
      }

    }

  }

}