@use 'shared/styles/consts';

.header {

  display: flex;
  align-items: center;
  flex-direction: column;

  & * {
    font-family: Lato, sans-serif;
  }

}

.search {
  display: flex;
  justify-content: center;
}




