@use 'shared/styles/mixins';
@use 'shared/styles/consts';

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid consts.$base-grey-1;
  @include mixins.primary-text(14px, 700, 20px, consts.$dark-text-color);
}
