@use 'shared/styles/consts';
@use 'shared/styles/mixins';

.addCommentContainer {
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px 40px 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #F5F5F5;
}

.header {
  margin-left: 96px;
  @include mixins.primary-text(20px, 700, 25px, consts.$dark-text-color, 'Roboto Slab');
}

.formContainer {
  display: flex;
  gap: 20px;

  & form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & textarea {
      background-color: white;
      border: 1px solid consts.$base-grey-1;
      resize: none;
      outline: none;
      width: 585px;
      height: 130px;
      border-radius: 5px;
      padding: 10px;
    }

  }

}

.textAreaContainer {
  position: relative;
  display: flex;
}


.triangleLeft {
  transform: scale(0.5);
  top: 15px;
  left: -16px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: 23px solid consts.$base-grey-1;
}

.innerTriangle {
  position: relative;
  top: -20px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 22px solid white ;
}
.triangleArrow {
  left: -11px;
  top: 10px;
  position: absolute;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}