@use 'shared/styles/mixins';
@use 'shared/styles/consts';

.commentContainer {
  display: flex;
  gap: 15px;
  align-items: start;

  &_nested {
    margin-left: 90px;
  }

}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nickName {
  @include mixins.primary-text(16px, 700, 25px, consts.$dark-text-color, "Roboto slab");
}

.date {
  @include mixins.primary-text(12px, 400, 15px, consts.$base-grey-2);
}

.commentText {
  width: 570px;
  @include mixins.primary-text(18px, 400, 30px, consts.$base-grey-3);
}

.actionsContainer {
  display: flex;
  gap: 16px;
  margin-top: 15px;
}

.replyButton {
  display: flex;
  gap: 5px;
  align-items: center;
  @include mixins.primary-text(12px, 700, 15px);

  & svg {
    color: consts.$base-grey-1
  }

}

.likes {
  display: flex;
  gap: 10px;
  align-items: center;

  & button {
    display: flex;
  }

  &Count {
    @include mixins.primary-text(12px, 700, 15px, consts.$base-grey-2, 'Lato');

    &_positive {
      color: consts.$green-1;
    }

    &_negative {
      color: consts.$red-1;
    }
  }
}